<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="border mt-2 mb-2">
    <h5 class="text-secondary"> <%= image_tag (current_user.avatar), :class => "w-40 circle  ml-3 mt-2 mr-2" %> What's happening?... </h5>
    <br/>
    <%= form.text_area :content, size: '38x3', :class => "text-area ml-2 border-white" %>
  </div>

  
  <%= form.submit "Save", :class => "btn btn-disabled btn-info radio ml-3 rounded-pill" %>


<% end %>
