<div class="container border p-1 mt-3">
    <div class="row">
        <div class="col-3">
            <%= image_tag (tweet.user.avatar), :class => "avatar-in-tweet rounded w-100 h-100" %>
        </div>
        <div class="col-6 p-3">
            <%= link_to "<i class='fa fa-calendar mr-2'></i>".html_safe+time_ago_in_words(tweet.created_at), tweet, class: 'text-dark'%>
            <br>
            <b> <%= tweet.user.username%> dice: </b>
            <%= tweet.content %>
            <br/>
            <% if user_signed_in? && current_user != tweet.user %>
                <div>
                    <% if current_user.is_following?(tweet.user_id) %>
                        <%= link_to "<i class='fas fa-user-times text-danger'></i>".html_safe, users_follow_path(tweet.user_id), method: :post %>
                    <% else %>
                        <%= link_to "<i class='fas fa-user-plus'></i>".html_safe, users_follow_path(tweet.user_id), method: :post %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <br/>
        <div class="col-2 p-3">
            <div>
                <% if tweet.is_liked?(current_user) %>
                    <%= link_to "<i class='fas fa-heart text-danger'></i>".html_safe, tweet_likes_path(tweet), method: :post %>
                <% else %>
                    <%= link_to "<i class='far fa-heart text-muted'></i>".html_safe, tweet_likes_path(tweet), method: :post %>
                <% end %>
                <%= tweet.likes.count %> 
            </div>

            <div>
            <% if user_signed_in? %>
                <%= tweet.count_rt %>
                <% if tweet.count_rt > 0 %>
                    <%= link_to "<i class= 'fas fa-retweet text-primary'></i>".html_safe, tweet_retweet_path(tweet), method: :post%>
                <% else %>
                    <%= link_to "<i class= 'fas fa-retweet text-muted'></i>".html_safe, tweet_retweet_path(tweet), method: :post%>

                <% end%>
            <% else %>
                <%= link_to "<i class= 'fas fa-retweet text-muted'></i>".html_safe %>

            <% end %>

                <% if tweet.is_retweet? %>
                    <%= link_to "Retweet...", tweet.tweet_ref %>
                <% end %>
            </div>
        </div>
    </div>
</div>
