<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
  <%= render "shared/side_section" %>

  <div class="col-6">
    <div>
      <%= image_tag @tweet.user.avatar, :class => "circle" %>
      <strong><%= @tweet.user.username %>  </strong>
      <br/>
      <%= @tweet.content.html_safe %>
    </div>

    <h5 class="mt-3"> Likes (<%= @tweet.likes.count %>)</h5>

    <% @tweet.liking_users.each do |user| %>
      <%= image_tag( user.avatar , class: "circle") %>

    <% end %>

    <br />

    <%= link_to 'Back', root_path,class: "text-info mt-3"  %>
  </div>
  </div>
</div>